body {
    margin: 0;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.back {
    background-color: black;
    height: 5rem;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 34px;
    color: white;
    font-family: 'Pridi', serif;
    letter-spacing: 3px;
}

.counter {
    text-align: center;
    flex-grow: 1;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#timer{
    color: white;
    font-size: 150px;
}
button{
    background-color: black;
    border: 2px solid white;
    border-radius: 1px;
    color: white;
    font-family: 'Pridi', serif;
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.buttons{
    display: flex;
    gap: 20px;
}